<%- include('../partials/header') %>
<body class="aboutBackground">
    <div class="container2">
        <div class="Header2">About Us</div>
        <div class="Text"><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Vel quam elementum pulvinar etiam non. Vestibulum mattis ullamcorper velit sed ullamcorper. Proin nibh nisl condimentum id venenatis a condimentum. Cras adipiscing enim eu turpis. Sagittis id consectetur purus ut faucibus pulvinar. Volutpat blandit aliquam etiam erat. Ultricies lacus sed turpis tincidunt. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Consectetur adipiscing elit ut aliquam purus sit. Tristique senectus et netus et malesuada fames. Imperdiet sed euismod nisi porta.

            Egestas congue quisque egestas diam in arcu. Libero id faucibus nisl tincidunt eget nullam non. Id porta nibh venenatis cras sed felis eget velit. Tempor nec feugiat nisl pretium fusce id velit ut. Viverra nam libero justo laoreet sit amet. Lacus sed viverra tellus in hac habitasse platea. Tincidunt id aliquet risus feugiat. Enim diam vulputate ut pharetra sit amet aliquam id diam. Aliquet risus feugiat in ante. Tincidunt dui ut ornare lectus sit.
        </p></div>
        
        <div class="Photobar">
            <a href="https://ibb.co/3TJds7F"><img src="https://i.ibb.co/6ydwZmt/Besti.jpg" class="aboutUsImg" alt="photo"></a>
        </div>
        <div class="footer2"></div>
      </div>
</body>
</html>

