
<%- include('../partials/header') %>

<form id="edit-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
    <label class="contrast">Restaurant Name:</label>
   <input type="text" name="name"><br><br>
   <label class="contrast">Year Opened:</label>
   <input type="text" name="dateOpened"><br><br>
   <label class="contrast">NYC Boro</label>
   <select name="nycBoro">
     <option value="QNS">QNS</option>
     <option value="BKLYN">BKLYN</option>
     <option value="MAN">MAN</option>
     <option value="BX">BX</option>
   </select><br><br>
   <label class="contrast">Type of Cuisine:</label>
   <input type="text" name="foodType"><br><br>
   <label class="contrast">Restaurant Info:</label><br><br>
   <input class="text" type="text" name="content" ><br>       
 <input id="save-btn" type="submit" value="Save">
         </form>

