
<%- include('../partials/header') %>


<center>
<body class="newBackground">
  <div class="newBody">
<form class="newBody" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
  <label class="edit">Restaurant Name:</label>
  <input type="text" name="name"><br><br>
  <label class="edit">Year Opened:</label>
  <input type="text" name="dateOpened"><br><br>
  <label class="edit">NYC Boro</label>
  <select name="nycBoro">
    <option value="QNS">QNS</option>
    <option value="BKLYN">BKLYN</option>
    <option value="MAN">MAN</option>
    <option value="BX">BX</option>
  </select><br><br>
  <label class="edit">Type of Cuisine:</label>
  <input type="text" name="foodType"><br><br>
  <label class="edit">Restaurant Info:</label><br><br>
  <input class="text" type="text" name="content" ><br>
  <input type="submit" value="Edi Restaurant">
</form>
</div>
</body>
      </center>