<%- include('../partials/header') %>
<body class="infopage">


<form id="new-form" action="/movies" method="POST">
  <label>Restaurant Name:</label>
  <input type="text" name="name">
  <label>Year Opened:</label>
  <input type="text" name="dateOpened">
  <label>NYC Boro</label>
  <select name="nycBoro">
    <option value="QNS">QNS</option>
    <option value="BKLYN">BKLYN</option>
    <option value="MAN">MAN</option>
    <option value="BX">BX</option>
  </select>
  <label>Type of Cuisine:</label>
  <input type="text" name="foodType">
  <input type="checkbox" name="Would Recommend" checked>
  <input type="submit" value="Add Restaurant">
</form>

<!-- <h1 class="infoheader">Restaurant Info</h1>


<h2>Leave A Review</h2>

  <% if (user) { %>

<form id="add-review-form" method="POST" action="/restaurant/info/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Would Recommend:</label>
    <select name="recommend">
        <option value="1">Yes</option>
        <option value="2">No</option>
    </select>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
    </form>
    <% } %>

</body>
</html> -->