<%- include('../partials/header') %>

</head>
<body class="roulette">
    <h3>Tonight you will go to....</h3>
    <body>
        <br>
        <br>
        <br>
       <h4> <%= resRandom.name %> </h4><br><br>
       <center><a class="detail-button2"href="/<%= resRandom._id %>">See Restaurant Details</a></center>
</body>
</html