
<%- include('../partials/header') %>

</head>
<body>
    <h3>Tonight you will go to....</h3>
    <body>
       <h4> <%= resRandom.name %> </h4>
       <td><a class="detail-button"href="/<%= resRandom._id %>">See Restaurant Details</a></td>
</body>
</html>