
<%- include('../partials/header') %>

</head>
<body>
    <h3>Tonight you will go to....</h3>
    <body>
       <h4> <%= resRandom.name %> </h4><br>
       <center><a class="detail-button2"href="/<%= resRandom._id %>">See Restaurant Details</a></center>
</body>
</html>